<h1>Events#edit</h1>
<p>Find me in app/views/events/edit.html.erb</p>
<div class="w-50 m-2 ">
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.date_select  :start_date,{minute_step: 5} %>
    <%= f.time_select  :start_date,{minute_step: 5} %>
    <%= f.input :duration %>
    <%= f.input :price %>
    <%= f.input :location %>
    <br>
    <%= f.file_field :avatar %>
    <br>
    <%= f.button :submit ,class:'btn btn-dark mt-3'%>
    
    <%= link_to "Supprimer cet évènement", event_path(@event.id), :method => :delete, data: {confirm: "Are you sure?"},class:"btn btn-danger mt-3" %>
  <% end %>
</div>