<div class="container">
  <div class="main-body">
    <div class="row mt-4">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
           <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Avatar</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=if @event.avatar.attached? then image_tag @event.avatar.variant(resize:"200x200") end %></div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Titre</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@event.title%></div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Description</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@event.description%></div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Date et heure de début</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@event.start_date.strftime("%d/%m/%Y %H:%M")%></div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Date et heure de fin</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@end_date.strftime("%d/%m/%Y %H:%M")%></div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Prix</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@event.price%> €</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Lieu</h6>
              </div>
              <div class="col-sm-9 text-secondary"><%=@event.location%></div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
                <% if  @admin %>
                <a class="col-2 btn btn-secondary"aria-current="page"href="<%= event_attendances_path(@event.id)%>">Admin</a>
                <% elsif  @can_participate %>
                <a class="col-2 btn btn-secondary"aria-current="page"href="<%= new_event_attendance_path(@event.id)%>">Participer</a>
                <% else false %>
                <div class="col-sm-9 text-success">Vous participez déjà</div>
                <% end %>
              <div class="col-sm-9 text-secondary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <p> admin ?
    <%= current_user == @event.user%>
    </p>

    <p> deja inscrit ?
    <%= @event.users.include? current_user%>
    </p>